[package]
name = "animosity"
version = "0.1.5"
authors = ["Markus Heikkinen <ittevien@gmail.com>"]

[profile.release]
debug = 1
overflow-checks = true
lto = true

[dependencies]
app_dirs = "1.2.1"
byteorder = "1.2"
cairo-rs = "0.4"
cgmath = "0.16"
ddsfile = "0.2.3"
failure = "0.1.1"
fern = "0.5.5"
gdk = "0.8"
gio = "0.4"
glib = "0.5"
glium = "0.21.0"
log = "0.4"
png = "0.11"
serde = "1.0.37"    
serde_derive = "1.0.37"
serde_json = "1.0.13"

[dependencies.gtk]
version = "0.4"
features = ["v3_22_20"]
