[package]
name = "animosity"
version = "0.2.0"
authors = ["Markus Heikkinen <ittevien@gmail.com>"]
edition = "2018"

[profile.dev]
debug = 1
opt-level = 2
lto = "no"

[profile.release]
debug = 1
overflow-checks = true
lto = true

[dependencies]
app_dirs = "1.2.1"
byteorder = "1.2"
cairo-rs = "0.6"
cgmath = "0.17"
ddsfile = "0.2.3"
failure = "0.1.1"
fern = "0.5.5"
gdk = "0.10"
gio = "0.6"
glib = "0.7"
glium = "0.24"
image = { version = "0.21.1", features = ["png_codec"], default-features = false }
log = "0.4"
png = "0.14"
quick-error = "1.2"
serde = "1.0.37"    
serde_derive = "1.0.37"
serde_json = "1.0.13"

[dependencies.gtk]
version = "0.6"
features = ["v3_22_20"]
